{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="my-0 mt-2">Submissions</h4>
    </div>
    <table class="table mx-auto">
        <thead>
            <tr>
                <th>ID</th>
                <th>Flag</th>
                <th>Status</th>
                <th>Target</th>
                <th>Script</th>
                <th>Service</th>
            </tr>
        </thead>
        <tbody>
            {% if submissions %}
                {% for submission in submissions %}
                    <tr>
                        <td>{{ submission[0] }}</td>
                        <td>{{ submission[1] }}</td>
                        <td>
                            {% if submission[2] == 'OK' %}
                                <strong><span style="color: green;">{{ submission[2] }}</span></strong>
                            {% elif submission[2] in ['DUP', 'OWN'] %}
                                <strong><span style="color: orange;">{{ submission[2] }}</span></strong>
                            {% else %}
                                <strong><span style="color: red;">{{ submission[2] }}</span></strong>
                            {% endif %}
                        </td>
                        <td>{{ submission[3] }}</td>
                        <td>{{ submission[4] }}</td>
                        <td>{{ submission[5] }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="5">No submissions available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <nav>
        <ul class="pagination justify-content-center">
            {% if submissions %}
                {% if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('frontend.submissions', page=page-1) }}">Previous</a>
                    </li>
                {% endif %}
                {% if submissions|length == 10 %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('frontend.submissions', page=page+1) }}">Next</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
